*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #031540;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    padding-bottom: 10px;
}

.navbar a:hover{
    color: #00abf0;
}

body{
    background-image: linear-gradient(to left, #031540 , #fff);
    /*background: #031540;*/
    color: #fff;
}

.intro{
    height: 100vh;
    
    padding: 50px 5%;
    font-size: 22px;
    padding-top: 150px;
    
}

.img{
    text-align: center;
}

.box{
    text-align: center;
    padding-top: 80px; 
}

.btn{
    margin-right: 30px;
    padding: 12px 35px;
    background: transparent;
    /*border-radius: 40px;*/
    font-size: 17px;
    color: #fff;
    font-size: larger;
    text-shadow: 5px 5px 4px #031540;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 10px #031540;
    padding: 50px 60px 50px 60px;
    transition: .5s;
}

.btn:hover{
    box-shadow: 0 12px 16px 0 #031540,0 17px 50px 0 #031540;
}